fastapi
uvicorn
python-multipart
google-generativeai
faiss-cpu
PyPDF2
sentence-transformers
pydantic
python-dotenv
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
fastapi-mail
email-validator
psycopg2-binary
